body {
  background: rgb(251, 64, 251);
  font-size: 18px;
}

input {
  display: block;
  margin: 15px;
}

ul {
  float: right;
}

main {
  width: 60%;
  display: flex;
  flex: row;
  justify-content: space-around;
}
